<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/asset/css/style.css">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <form action="/new" method="post">
                <input type="text" class="form-control" name="name" placeholder="Your name"/> <br/>
                <input type="text" class="form-control" name="surname" placeholder="Your surname"/>
                <div class="form-check form-check-inline">
                <input type="radio" id="exampleRadios1" class="form-check-input" name="gender" value="Male"/>
                <label class="form-check-label" for="exampleRadios1">
                    Male
                </label>
                <input type="radio" id="exampleRadios2" class="form-check-input" name="gender" value="Female"/>
                <label class="form-check-label" for="exampleRadios2">
                    Female
                </label>
                </div>
                <input type="text" class="form-control" name="age" placeholder="Age"/> <br/>
                <label for="exampleFormControlFile1">Upload your photo</label>
                <input type="file" class="form-control-file" name="image" id="exampleFormControlFile1">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
            </form>
        {% endblock %}
        {% block javascripts %}
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
